@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ερωτηματολόγιο Τηλε-Εκπαίδευσης</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />  
</head>
<body>
    <header>
        <!--
    Examples with navbar
    https://www.codeply.com/go/qhaBrcWp3v
        Online Compiler
        https://www.tutorialspoint.com/online_bootstrap_editor.php
    -->


       


        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <a class="navbar-brand" href="/Home/IndexA">
                    <img src="~/imgs/mainlogo.jpg" alt="Minedu logo" />
                </a>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="/Home/IndexA">Ερωτηματολόγιο Αξιολόγησης Έργαλείων Απομακρυσμένης Εκπαίδευσης</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    @{
                        var loginName = Context.Session.GetString("LoginName");
                        if (loginName == null || loginName == "")
                        {
                            <li class="nav-link">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Σύνδεση  &nbsp&nbsp&nbsp <span class="glyphicon glyphicon-log-in"></span></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-link">
                                Είστε συνδεδεμένος ως <b> @loginName </b>
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Login">&nbsp&nbsp&nbsp <span class="glyphicon glyphicon-log-in"></span> Αποσύνδεση</a>
                            </li>
                        }
                    }
                    </ul> 
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer border-top footer text-muted footer">
        <div class="text-center">
            &copy; 2021 - Διεύθυνση Εκπαιδευτικής Τεχνολογίας
            <!-- <div class="text-right">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">  Πληροφορίες</a>
    </div> -->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
