@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ερωτηματολόγιο Τηλε-Εκπαίδευσης</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!--
    Examples with navbar
    https://www.codeply.com/go/qhaBrcWp3v
        Online Compiler
        https://www.tutorialspoint.com/online_bootstrap_editor.php
    -->


        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0094ff;">
            <div class="d-flex flex-grow-1">
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/imgs/mainlogo.jpg" alt="Minedu logo" />
                </a>

            </div>
            <a class="navbar-brand abs" href="#">Navbar 1</a>
            <div class="collapse navbar-collapse flex-grow-1 text-center" id="myNavbarCenter">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    Ερωτηματολόγιο Τηλε-Εκπαίδευσης
                </ul>
            </div>

            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbarRight">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    @{
                        var loginName = Context.Session.GetString("LoginName");
                        if (loginName == null || loginName == "")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Σύνδεση  &nbsp&nbsp&nbsp <span class="glyphicon glyphicon-log-in"></span></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                Είστε συνδεδεμένος ως <b> @loginName </b>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">&nbsp&nbsp&nbsp <span class="glyphicon glyphicon-log-in"></span> Αποσύνδεση</a>
                            </li>
                        }
                    }


                </ul>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ερωτηματολόγιο Ικανοποίησης Εργαλείων Τηλε-Εκπαίδευσης<a asp-area="" asp-controller="Home" asp-action="Privacy">Πληροφορίες</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
